<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheelver - <%= hotwheel ? hotwheel.name : 'Hotwheel Info' %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="content-wrapper">
    <%- include('../partials/header', { headerClass: 'm-header--colorful', noNavLinks: true }) %>
    <main>
        <% if (error) { %>
            <section class="m-jumbotron">
                <h1 class="m-jumbotron__title">Error</h1>
                <p class="m-jumbotron__description"><%= error %></p>
            </section>
        <% } else if (hotwheel) { %>
            <section class="m-user-info">
                <h1><%= hotwheel.name %></h1>
            </section>

            <div class="m-hotwheel-detail">
                <div class="m-hotwheel-detail__image-wrapper">
                    <img src="<%= hotwheel.photoUrl || '/images/default.jpg' %>" alt="<%= hotwheel.name %>" class="m-hotwheel-detail__img">
                </div>
                
                <div class="m-hotwheel-detail__content">
                    <h2>Specifications</h2>
                    <div class="m-hotwheel-detail__info-grid">
                        <div class="m-hotwheel-detail__label">Series</div>
                        <div class="m-hotwheel-detail__value"><%= (hotwheel.series && hotwheel.series.name) ? hotwheel.series.name : 'N/A' %></div>

                        <div class="m-hotwheel-detail__label">Series Number</div>
                        <div class="m-hotwheel-detail__value"><%= hotwheel.seriesNumber || 'N/A' %></div>

                        <div class="m-hotwheel-detail__label">Toy Number</div>
                        <div class="m-hotwheel-detail__value"><%= hotwheel.toyNumber || 'N/A' %></div>

                        <div class="m-hotwheel-detail__label">Collector Number</div>
                        <div class="m-hotwheel-detail__value"><%= hotwheel.colNumber || 'N/A' %></div>

                        <div class="m-hotwheel-detail__label">Year</div>
                        <div class="m-hotwheel-detail__value"><%= hotwheel.year || 'N/A' %></div>

                        <% if (hotwheel.extra) { %>
                            <div class="m-hotwheel-detail__label">Extra Info</div>
                            <div class="m-hotwheel-detail__value"><%= hotwheel.extra %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </main>
</div>
</body>
</html>
