<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheelver - User Profile</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="content-wrapper">
    <%- include('../partials/header', { headerClass: 'm-header--colorful', noNavLinks: true }) %>
    <main class="l-container">
        <% if (error) { %>
            <section class="m-jumbotron">
                <h1 class="m-jumbotron__title">Error</h1>
                <p class="m-jumbotron__description"><%= error %></p>
            </section>
        <% } else if (user) { %>
            <section class="m-user-info">
                <h1><%= user.username %></h1>
                <div class="e-stats">
                    <div class="e-stats__item">
                        <p class="text--muffled">Collections</p>
                        <span class="text"><%= collections.length %></span>
                    </div>
                    <div class="e-stats__item">
                        <p class="text--muffled">Hotwheels</p>
                        <span class="text"><%= collections.reduce((total, collection) => total + (typeof collection.totalHotwheelsCount !== 'undefined' ? collection.totalHotwheelsCount : (collection.hotwheels ? collection.hotwheels.length : 0)), 0) %></span>
                    </div>
                    <div class="e-stats__item">
                        <p class="text--muffled">Joined</p>
                        <span class="text"><%= new Date(user.createdAt).toLocaleDateString() %></span>
                    </div>
                </div>
            </section>

            <section class="m-collection">
                <div class="m-collection__header">
                    <h2>Collections</h2>
                    <button id="share-button" class="a-button" data-share-url="<%= currentUrl %>">Share</button>
                </div>

                <div class="m-collection__grid">
                    <% if (collections && collections.length > 0) { %>
                        <% collections.forEach(collection => { %>
                            <%- include('../partials/e-collection-card', { collection }) %>
                        <% }); %>
                    <% } else { %>
                        <p>No collections found.</p>
                    <% } %>
                </div>
            </section>
        <% } %>
    </main>
    <script src="/js/share.js"></script>
</div>
</body>
</html>
