<article class="e-hotwheel-card">
    <div class="e-hotwheel-card__image-wrapper">
        <img src="<%= hotwheel.photoUrl || '/images/default.jpg' %>" alt="<%= hotwheel.name %>" class="e-hotwheel-card__img">
    </div>

    <div class="e-hotwheel-card__info">
        <div class="e-hotwheel-card__header">
            <h3 class="e-hotwheel-card__title">
                <a href="/hw/<%= hotwheel._id %>" class="a-link"><%= hotwheel.name %></a>
            </h3>
            <span class="e-hotwheel-card__toy-number"><%= hotwheel.toyNumber || 'N/A' %></span>
        </div>
        
        <div class="e-hotwheel-card__details">
            <div class="e-hotwheel-card__series">
                <%= (hotwheel.series && hotwheel.series.name) ? hotwheel.series.name : 'Unknown Series' %>
                <% if (hotwheel.seriesNumber) { %>
                    <span class="text--muffled">(<%= hotwheel.seriesNumber %>)</span>
                <% } %>
            </div>
            <div class="e-hotwheel-card__year text--muffled"><%= hotwheel.year || 'N/A' %></div>
        </div>
    </div>
</article>
